.key {
    width: 80px;
    height: 80px;
    margin: 5px;
    background: grey;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -2px 11px 16px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 11px 16px -4px rgba(0,0,0,0.75);
box-shadow: -2px 11px 16px -4px rgba(0,0,0,0.75);
    &:hover {
        background: gold;
        h1 {
            color: black;
        }
    }
    h1 {
        color: white;
    }
    cursor: pointer;
}